*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 0;
}
section {
  height: 100vh;
  padding: 0 30px;
}
section:nth-child(odd) {
  background-color: cadetblue;
}
section:nth-child(even) {
  background-color: rebeccapurple;
}
section h1 {
  color: white;
  font-size: 3rem;
  margin: 0;
}
#progress-bar {
  --progress: 0;
  position: fixed;
  height: 5px;
  width: 100%;
  background-color: #ccc;
  top: 0;
  left: 0;
}
#progress-bar::after {
  content: "";
  transition: width 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: calc(var(--progress) * 1%);
  z-index: 1;
  background-color: red;
}
#advanced-progress-bar {
  --arrow-offsetY: 0;
  --tooltip-offsetY: 0;
  position: fixed;
  cursor: pointer;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
  height: calc(100vh - 200px);
  width: 10px;
  background-color: #ccc;
}
/* #advanced-progress-bar::after, */
#arrow-handle {
  content: "";
  transition: top 0.01s, transform 0.3s;
  z-index: 3;
  position: absolute;
  pointer-events: painted;
  border: 10px solid transparent;
  border-left-color: red;
  left: 0%;
  /* transition: 0.3s; */
  transform-origin: center;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
  /* -webkit-user-drag: element; */
  top: calc(var(--arrow-offsetY) * 1%);
  transform: translate(calc(-50% + 3px), -50%);
}
#arrow-handle:hover,
#arrow-handle:active {
  transform: translate(calc(-50% + 3px), -50%) scale(1.5);
}
#arrow-handle:active {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
#advanced-progress-bar.hidden {
  opacity: 0.1;
  transition: 1s;
}

.region {
  position: relative;
  --height: 0;
  height: calc(var(--height) * 1px);
  border-bottom: 1px solid black;
  --transition: 0.2s;
  --bubble-color: #ccc;
  --bubble-offsetX: 50%;
}

.region:last-child {
  border-bottom: none;
}

.region::after {
  position: absolute;
  content: attr(data-target);
  top: 50%;
  left: calc(100% + 5px);
  transition: all var(--transition);
  transform-origin: left center;
  border-radius: 20px;
  pointer-events: none;
  transform: scale(0) translateY(-50%);
  background-color: var(--bubble-color);
  padding: 5px;
  opacity: 0;
  font-size: smaller;
  width: max-content;
  z-index: 2;
  white-space: nowrap;
  height: max-content;
}
.region::before {
  position: absolute;
  content: "";
  transition: all var(--transition);
  border: 5px solid transparent;
  border-right-color: var(--bubble-color);
  border-right-width: 10px;
  transform-origin: right bottom;
  left: 100%;
  top: 50%;
  transform: scale(0) translate(-50%, -50%);
}
.region:hover {
  transition: background-color, 0.9s;
  background-color: teal;
  /* transform: scale(1.1); */
}
.region:hover::after {
  opacity: 1;
  transform: scale(1) translateY(-50%);
}
.region:hover::before {
  transform: scale(1) translate(-50%, -50%);
}
